<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt="{{recipe.imagePath}}" class="img-responsive" style="max-height: 300px; ">
  </div>
</div>

<div class="row">
  <div class="col-xs-12" fxLayout="row" fxLayoutAlign="space-between end">
    <h1>{{recipe.name}}</h1>

    <div>
      <button mat-icon-button (click)="sendToShoppingList()" matTooltip="Send to shopping list">
        <mat-icon>assignment</mat-icon>
      </button>
      
      
      <button mat-icon-button (click)="editRecipe()" matTooltip="Edit recipe">
        <mat-icon>edit</mat-icon>
      </button>
      
      
      <button mat-icon-button (click)="onDeleteRecipe()" matTooltip="Delete recipe">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>