<mat-card>
  <mat-card-header>
    <img mat-card-avatar [src]="recipe.imagePath" alt="{{recipe.imagePath}}">
    <mat-card-title>{{recipe.name}}</mat-card-title>
    <mat-card-subtitle>{{recipe.description}}</mat-card-subtitle>
  </mat-card-header>
  
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient.name }} - {{ ingredient.amount }}
        </li>
      </ul>
    </div>
  </div>

  <mat-card-actions>
    <button mat-icon-button (click)="sendToShoppingList()" matTooltip="Send to shopping list" aria-label="Send to shopping list">
      <mat-icon>assignment</mat-icon>
    </button>
    
    <button mat-icon-button (click)="editRecipe()" matTooltip="Edit recipe" aria-label="Edit recipe">
      <mat-icon>edit</mat-icon>
    </button>
    
    <button mat-icon-button (click)="onDeleteRecipe()" matTooltip="Delete recipe" aria-label="Delete recipe">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>

</mat-card>